Repository HawkEyesLtd/neuro-sales, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, config

first commit
  README.md
Labels: docs

Refactor application setup and configuration
  README.md
  package.json
  pnpm-lock.yaml
  src/index.jsx
  src/setupTests.js
  vercel.json
  vite.config.js
Labels: frontend, docs, config

Refactor sidebar item import and enhance menu item rendering; update attendance and dashboard filters for improved user experience; add inventory filter component.
  src/Layout/Sidebar.js
  src/components/DataManagementFilter.js
  src/data/menuData.js
  src/pages/Attendance/AttendanceFilter.jsx
  src/pages/Dashboard/DashboardFilter.js
  src/pages/Inventory/components/InventoryFilter.jsx
Labels: frontend

Refactor sidebar permissions handling; update menu item serials and routes for consistency; fix InventoryStatus component import in route data.
  src/Layout/Sidebar.js
  src/data/menuData.js
  src/data/routeData.js
Labels: frontend

Refactor inventory components and filters; remove unused files; update route handling and filter logic for improved performance and maintainability.
  src/App.jsx
  src/Layout/Layout.js
  src/components/Filter.js
  src/data/routeData.js
  src/features/Inventory/Chart/SplitPosm.js
  src/features/Inventory/Chart/SummaryChart.js
  src/hooks/useAuthCheck.js
  src/index.jsx
  src/pages/Inventory/DHCreditLifting.jsx
  src/pages/Inventory/InventoryStatus.jsx
  src/pages/Inventory/components/InventoryFilter.jsx
  src/pages/SalesReport/components/SalesReportFilter.jsx
  src/pages/auth/PrivateRoute.js
  src/redux/app/store.js
  src/redux/features/inventory/damageAndLostFilterSlice.js
  src/redux/features/inventory/ffHistoryFilterSlice.js
  src/redux/features/inventory/townSummaryFilterSlice.js
  src/redux/features/inventory/userSummaryFilterSlice.js
  src/redux/features/inventory/viewPosmTownHistoryFilterSlice.js
Labels: frontend

feat: Add ChartCard, MetricCard, and TableCard components for dashboard
  package.json
  pnpm-lock.yaml
  src/components/TownSummaryTable.jsx
  src/components/dashboard/ChartCard.jsx
  src/components/dashboard/MetricCard.jsx
  src/components/dashboard/TableCard.jsx
  src/components/dashboard/charts/B2BOrderPerformanceChart.jsx
  src/components/dashboard/charts/DeliveryPerformanceChart.jsx
  src/components/dashboard/charts/SalesPerformanceChart.jsx
  src/components/ui/NoResult.js
  src/pages/Attendance/Attendance.jsx
  src/pages/Attendance/AttendanceFilter.jsx
  src/pages/Dashboard/Dashboard.js
  src/pages/Dashboard/DashboardFilter.js
  src/pages/Inventory/DHCreditLifting.jsx
  src/redux/features/attendance/attendanceFilterSlice.js
  src/redux/features/inventory/townSummaryFilterSlice.js
Labels: frontend, config

Refactor: Update routing for SROrders component and enhance dashboard layout; remove unused filters and improve filter handling in SalesReportFilter.
  src/data/routeData.js
  src/pages/Dashboard/Dashboard.js
  src/pages/Dashboard/DashboardFilter.js
  src/pages/Inventory/DHCreditLifting.jsx
  src/pages/Inventory/components/InventoryFilter.jsx
  src/pages/SalesReport/SROrders.jsx
  src/pages/SalesReport/components/SROrders.jsx
  src/pages/SalesReport/components/SalesReportFilter.jsx
  src/pages/auth/components/LoginPassword.jsx
  src/utils/generateDataManagementFilterData.js
Labels: frontend

dashboard design complete
  package.json
  src/pages/Dashboard/Chart/B2BOrderPerformanceChart.jsx
  src/pages/Dashboard/Chart/DeliveryPerformanceChart.jsx
  src/pages/Dashboard/Chart/InventoryAlertsChart.jsx
  src/pages/Dashboard/Chart/LeaderboardCard.jsx
  src/pages/Dashboard/Chart/OrderTrendsByGeoCard.jsx
  src/pages/Dashboard/Chart/ReturnProductsList.jsx
  src/pages/Dashboard/Chart/SalesPerformanceChart.jsx
  src/pages/Dashboard/Chart/TopPromotionsCard.jsx
  src/pages/Dashboard/Chart/TopSellingProductsTable.jsx
  src/pages/Dashboard/Chart/topKPICards.jsx
  src/pages/Dashboard/Dashboard.js
Labels: frontend, config

Refactor and enhance various components and utilities
  docs/AUTH_STORAGE_PATTERN.md
  src/App.jsx
  src/Layout/Layout.js
  src/Layout/Sidebar.js
  src/Layout/SidebarErrorBoundary.jsx
  src/components/DataManagementFilter.js
  src/components/ErrorBoundary.jsx
  src/components/Legend.js
  src/components/PerformanceMonitor.jsx
  src/components/ui/IddleSessionTimeoutModal.js
  src/data/menuData.js
  src/hooks/useAuth.js
  src/hooks/useAuthCheck.js
  src/hooks/useDownloadReport.js
  src/hooks/useLogout.js
  src/pages/Dashboard/AttendanceByRegion.js
  src/pages/Dashboard/Chart/SacheChart.js
  src/pages/Dashboard/Chart/ShareOfVisibility.js
  src/pages/Dashboard/Dashboard.js
  src/pages/Inventory/DHCreditLifting.jsx
  src/pages/Inventory/DHProductReceived.jsx
  src/pages/Inventory/InventoryStatus.jsx
  src/pages/Inventory/components/InventoryFilter.jsx
  src/pages/SalesReport/components/SROrders.jsx
  src/pages/SalesReport/components/SalesReportFilter.jsx
  src/pages/auth/Login.jsx
  src/redux/app/store.js
  src/redux/features/attendance/attendanceFilterSlice.js
  src/redux/features/auth/authApi.js
  src/redux/features/auth/authSlice.js
  src/redux/features/inventory/inventoryApiSlice.js
  src/utils/authStorage.js
  src/utils/generateDataManagementFilterData.js
  src/utils/generateRequestBodyData.js
  src/utils/globalErrorHandler.js
  src/utils/msCallBodyData.js
Labels: frontend, docs

Refactor and enhance various components and utilities
  src/pages/Dashboard/Dashboard.js
Labels: frontend

refactor: Restructure Attendance components and update import paths for better organization
  src/components/Filter.js
  src/pages/Attendance/Attendance.jsx
  src/pages/Attendance/components/AttendanceFilter.jsx
  src/pages/Attendance/components/AttendanceLocator.jsx
  src/pages/Attendance/components/AttendanceOverview.jsx
  src/pages/Attendance/components/AttendanceTracker.jsx
  src/pages/Attendance/components/AttendanceUserItem.jsx
Labels: frontend

refactor: Update page titles, enhance DataManagementFilter integration, and clean up unused components in filters
  index.html
  pnpm-lock.yaml
  src/Layout/HeaderComponent.js
  src/Layout/Layout.js
  src/components/DataManagementFilter.js
  src/pages/Dashboard/DashboardFilter.js
  src/pages/SalesReport/components/SalesReportFilter.jsx
Labels: frontend

refactor: Update Sidebar logo, enhance Dashboard layout with DashboardFilter, and improve AttendanceFilter search functionality
  src/Layout/Sidebar.js
  src/assets/logo/logo.png
  src/index.css
  src/pages/Attendance/AttendanceFilter.jsx
  src/pages/Dashboard/Dashboard.js
  src/pages/auth/Login.jsx
Labels: frontend

refactor: Optimize DataManagementFilter and Attendance components by removing unused variables and enhancing filter functionality
  src/App.jsx
  src/components/DataManagementFilter.js
  src/index.css
  src/pages/Attendance/Attendance.jsx
  src/pages/Attendance/components/AttendanceFilter.jsx
  src/pages/Attendance/components/AttendanceLocator.jsx
  src/pages/Attendance/components/AttendanceSummaryCards.jsx
  src/pages/Attendance/components/AttendanceTracker.jsx
Labels: frontend

refactor: Replace TopSellingProductsTable with TableCard for improved data presentation
  src/pages/Dashboard/Dashboard.js
Labels: frontend

Fix: Update import paths to use aliases and fix build errors
  src/App.jsx
  src/pages/auth/Login.jsx
Labels: frontend

Fix: Correct import paths to use lowercase auth folder
  src/App.jsx
Labels: frontend

refactor: Update Sidebar logo styling for improved visibility
  src/App.jsx
  src/Layout/Sidebar.js
Labels: frontend

feat: Implement comprehensive CSP fixes and enhancements, including updated policies, new helper scripts, and improved build configurations
  README-CSP-FIX.md
  docs/CSP_FIX_GUIDE.md
  package.json
  scripts/csp-helper.sh
  vercel.secure.json
  vite.config.js
Labels: docs, config

refactor: Remove deprecated CSP configuration files and update deployment scripts for minimal setup
  README-CSP-FIX.md
  package.json
  scripts/csp-helper.sh
  src/Layout/FooterComponent.js
  src/Layout/Layout.js
  src/index.css
  vercel.json
  vercel.secure.json
Labels: frontend, docs, config

fix: Correct import order for Layout component and clean up vite.config.js
  src/Layout/Layout.js
  vite.config.js
Labels: frontend, config

feat: Enhance Login component with Title import and styling adjustments for improved layout
  src/pages/auth/Login.jsx
Labels: frontend

feat: Update Login component with Title import, enhance menuData with new icons and serials, and integrate Tailwind CSS in vite.config.js
  src/App.jsx
  src/data/menuData.jsx
  src/pages/auth/Login.jsx
  vite.config.js
Labels: frontend, config

feat: Move Login import to the correct location in App component
  src/App.jsx
Labels: frontend

refactor: Rename Login component to LoginPage for consistency and clarity
  src/App.jsx
  src/pages/auth/Login.jsx
Labels: frontend

feat: Refactor authentication components by renaming and restructuring LoginPage for improved clarity and organization
  src/App.jsx
  src/pages/auth/LoginPage.jsx
  src/pages/auth/index.jsx
Labels: frontend

refactor: Rename login mutation variable to triggerLogin for clarity and consistency
  src/pages/auth/LoginPage.jsx
Labels: frontend

fix: Update import path for LoginPage to include file extension for consistency
  src/App.jsx
Labels: frontend

new host
  public/_redirects
Labels: frontend

fix: Correct casing of LoginPage import and component name for consistency
  src/App.jsx
  src/pages/auth/LoginPage.jsx
  src/pages/auth/index.jsx
Labels: frontend

fix: Add base configuration to vite.config.js for relative paths
  vite.config.js
Labels: config

fix: Import PrivateRoute and wrap route elements for authentication
  src/App.jsx
Labels: frontend

fix: Update path aliases in vite.config.js to use fileURLToPath for better compatibility
  vite.config.js
Labels: config

refactor: Update Sales Report component and related imports for consistency and clarity
  src/data/routeData.jsx
  src/index.css
  src/pages/Inventory/InventoryStatus.jsx
  src/pages/SalesReport/SalesReport.jsx
  src/pages/SalesReport/components/SROrders.jsx
  src/pages/SalesReport/components/SalesReportFilter.jsx
Labels: frontend

refactor: Update Attendance components for improved data handling and code clarity
  src/pages/Attendance/Attendance.jsx
  src/pages/Attendance/components/AttendanceFilter.jsx
  src/pages/Attendance/components/AttendanceLocator.jsx
  src/pages/Attendance/components/AttendanceTracker.jsx
  src/pages/SalesReport/SalesReport.jsx
Labels: frontend

fix: Update currency display in SalesReport to use bold font for better visibility
  src/pages/SalesReport/SalesReport.jsx
Labels: frontend

refactor: Make SalesReport and AttendanceSummaryCards hoverable for improved user interaction
  src/pages/Attendance/components/AttendanceSummaryCards.jsx
  src/pages/SalesReport/SalesReport.jsx
Labels: frontend

refactor: Enhance Attendance components with memoized selectors for improved performance and clarity
  src/pages/Attendance/Attendance.jsx
  src/pages/Attendance/components/AttendanceFilter.jsx
  src/pages/Attendance/components/AttendanceSummaryCards.jsx
  src/pages/SalesReport/SalesReport.jsx
  src/pages/SalesReport/components/SalesReportFilter.jsx
  src/redux/app/store.js
  src/redux/features/api/apiSlice.js
  src/redux/features/attendance/attendanceApi.js
  src/redux/features/attendance/attendanceFilterSlice.js
  src/redux/selectors/attendanceSelectors.js
Labels: frontend

refactor(inventory): remove redundant padding and restyle filter component
  src/index.css
  src/pages/Inventory/DHCreditLifting.jsx
  src/pages/Inventory/DHProductReceived.jsx
  src/pages/Inventory/InventoryStatus.jsx
  src/pages/Inventory/components/InventoryFilter.jsx
Labels: frontend

build: add vercel.json configuration for rewrite rules
  vercel.json
Labels: none

.github/labeler.yml:

frontend:
    - 'src/**/*'
    - 'public/**/*'
docs:
    - '**/*.md'
    - 'docs/**/*'
config:
    - '.github/**/*'
    - 'vite.config.*'
    - 'package.json'
