Repository HawkEyesLtd/neuro-sales, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, docs, config

refactor(auth): remove login page route and imports
  src/App.jsx
Labels: frontend

feat(auth): implement private routes and login page
  src/App.jsx
Labels: frontend

build: update tailwindcss from v4.1.13 to v4.1.14
  package.json
  pnpm-lock.yaml
Labels: config

refactor(vite): simplify react plugin config and remove redundant esbuild options
  vite.config.js
Labels: config

refactor: remove commented import in App.jsx
  src/App.jsx
Labels: frontend

refactor(imports): update import paths and vite alias configuration
  src/App.jsx
  vite.config.js
Labels: frontend, config

refactor: reorder imports in App.jsx for consistency
  src/App.jsx
Labels: frontend

refactor(SalesReport): clean up unused imports and simplify currency display
  src/pages/SalesReport/SalesReport.jsx
Labels: frontend

chore: update favicon and add android chrome icons
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon.ico
Labels: frontend

[ImgBot] Optimize images
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-32x32.png
  public/heLogo.jpg
  public/logo.jpeg
  public/logo192.png
  public/logo512.png
  src/assets/app_logo.png
  src/assets/blue-pin.png
  src/assets/donut-chart.png
  src/assets/logo.jpeg
  src/assets/logo.svg
  src/assets/logo/login-bg.png
  src/assets/logo/logo-portal.svg
  src/assets/logo/logo.png
  src/assets/logo/ml-logo.svg
  src/assets/pdf.png
  src/assets/setting.png
  src/assets/statistics.png
  src/assets/video.png
Labels: frontend

fix(attendance): change level filter default value and options
  src/pages/Attendance/components/AttendanceFilter.jsx
  src/redux/features/attendance/attendanceFilterSlice.js
Labels: frontend

.github/labeler.yml:

frontend:
    - 'src/**/*'
    - 'public/**/*'
docs:
    - '**/*.md'
    - 'docs/**/*'
config:
    - '.github/**/*'
    - 'vite.config.*'
    - 'package.json'
